

/*th, td {
    text-align: center;
    padding: 4px;
    font-style: normal;
    font-family: fantasy;

}
tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: #4CAF50;
    color: white;
}
.main-wrapper{
	width:60%;

	background:#E0E4E5;
	border:1px solid #292929;
	padding:25px;
	margin:auto;
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eee;
}*/
h1{
	font-size:24px;
	}
.conf{
    width:700px;
    align-content: center;
    border: 0;
  }
.imgtb{
  width:120px;
  height:120px;
  border-radius: 50%;

}
th{
  text-align: center !important;
}
#hcon{
    text-align: center;
    font-size: 360%;
    font-family: fantasy;
    margin-bottom: 4%;
    margin-top: 2%;
    text-transform: uppercase;
}
